---
import Portafolio from '../components/Portafolio.jsx'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="../../public/favicon.ico"/>
		<meta name="viewport" content="width=device-width" />
		<title>KalethDev</title>
	</head>
	<body class='bg-slate-900 h-full-scren text-white'>
		<Portafolio/>
	</body>
</html>
